div.row {
    width: 100%;
    margin: 10px 0;
}

div.col {
    display: inline-block;
    width: 24%;
}

label.field-label {
    display: block;
    margin-bottom: 2px;
}

input.date {
    width: 120px
}

table.tab {
    width: 100%;
}

table.tab td {
    border: 1px black;
    border-collapse: collapse;
}

table.tab th {
    color: white;
    background-color: darkgray;
}